html {
    /* Setting a base font size of 10px give us easier rem calculations
     Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
   */
    font-size: 10px;
    background-color: #0DA6FF;

}

h3 {
    font-weight: 400;
}

body {
    
    display: contents;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #0C131f;
    background-color: #6ECAFF;
}

#welcome-section {
    margin-bottom: 30px;
}

#h-main {
    font-weight: 300;
    font-size: 5rem;
    margin: 50px auto 15px auto;
}

#h-sub {
    font-weight: bold;
    font-size: 2rem;
}

/*  GRID DE PROJETOS  */

.projects{
    display: grid;
    font-size: 1.4rem;
    grid-column: 150px;
    grid-gap: 1.5rem;
    justify-content:center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 640px));

}

.project-tile {
    display: block;
/*
    border-bottom-style:dotted;
    transition: .5s ease;
    border-color: yellow;
*/
    height: 15rem;
    text-align: center;
    background-position:center;
    background-color: black;
    position: relative;
}

.project-tile:hover, .project-tile:active{
    border-color: black;
    box-shadow: 5px 5px black;
}

.project-details {
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:1;
    color: white;
    padding: 0px;
    text-align-last: center;
}

a img{
/*    border-style: dotted;*/
}

a h3{
    font-weight: 100;
}


.project-details:hover, .project-details:active  {
    background: rgba(0, 0, 0, 0.01);
    text-align: right;
    

}

.project-details:hover h3, .project-details:active  ~h3{
    transition: .5s ease;
    transform: scale(1.2);
    font-weight: 800;
    color: black;
    background: rgba(10,134,205,0.9)
}



/* .project-details h3:hover, .project-details h3:active{
    transition: .5s ease;
    transform: scale(1.5);
    font-weight: 800;
    color: black;
    background: rgba(10,134,205,0.9)
} */

a h3:hover, a h3:active{
    transition: .5s ease;
    transform: scale(1.1);
    font-weight: 800;
    color: black;
    background: rgba(255,255,255,0.9);
}


.project-tile img {
    object-fit: cover; /* Do not scale the image */
    display: block;
    height: 100%;
    width: 100%;
}


@media (min-width: 320px) and (max-width: 480px) {
    
    .projects {
        grid-template-columns: 100%;
        margin: 0px auto 0px auto;
 
    }
    .project-tile {
        margin: 0px 5px 0px 5px;
      
    }
    
    #page-description {
        width: 400px;
    }
    
    #h-main {
        font-size: 4rem;

    }
    
    #link-back {
        top = 0;
    }
    
}


