html {
    /* Setting a base font size of 10px give us easier rem calculations
     Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
   */
    font-size: 10px;
}

body {

    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    background-color: whitesmoke;
}

#h-jsalvador {
    font-weight: 300;
    font-size: 5rem;
    margin: 50px auto 15px auto;
}

#h-skills {
    font-weight: bold;
    font-size: 2rem;
}

.projects{
    background-color: darkgray;
    display: grid;
    font-size: 1.4rem;
    margin: 10px 25px 10px 25px;
    grid-column: 150px;
    grid-gap: 1.5rem;
    justify-content:center;
/*    grid-template-columns: 90%;*/
    grid-template-columns: repeat(auto-fill, minmax(300px, 640px));

}

.project-tile {
    background-color: red;
    height: 15rem;
    align-content: center;
    align-self: center;
    text-align: center;
    
}

img {
    align-self: baseline;
    max-width: 100%;
    object-fit: cover;

}

img:hover {
    border-radius: 50%;
}